doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Document
        
    body
        include ./header.pug

        main
            h1 Aquí tienes vista para crear productos
            section
                h3 Crear producto
                form(action='/products' method='POST')
                    input#title(type='text' name='title' placeholder='title')
                    input#price(type='number' name='price' placeholder='price')
                    input#description(type='text' name='description' placeholder='description')
                    input#image(type='url' name='image' placeholder='URL imagen')
                    input(type='submit' value='guardar producto')
                p#message

           
        include ./footer.pug
        script(src="/js/script.js")